<h2>Add a New Order</h2>

<div class="error">
  <% if @errors.length > 0 %>
    <% @errors.each do |error| %>
      <%= error %><br>
    <% end %>
  <% end %>
</div>

<form action="/users/<%= session[:id] %>/orders" method="POST">

  <label>Date Sold</label>
  <input type="date" name="sold_date" value="<%= params['sold_date'] ? params['sold_date'] : '' %>"><br>

  <label>Customer's First Name</label>
  <input type="text" name="customer_first_name" value="<%= params['customer_first_name'] ? params['customer_first_name'] : '' %>"><br>

  <label>Customer's Last Name</label>
  <input type="text" name="customer_last_name" value="<%= params['customer_last_name'] ? params['customer_last_name'] : '' %>"><br>

  <label>Customer's Company</label>
  <input type="text" name="customer_company" value="<%= params['customer_company'] ? params['customer_company'] : '' %>"><br>

  <label>Customer's Email</label>
  <input type="email" name="customer_email" value="<%= params['customer_email'] ? params['customer_email'] : '' %>"><br>

  <label>Currency Sold Book In</label>
  <select name="currency_type">
    <option value="CZK">CZK</option>
    <option value="EUR">EUR</option>
    <option value="GBP">GBP</option>
    <option value="USD">USD</option>
  </select><br>

  <label>Number of Venice Books Sold</label>
  <input type="number" name="venice_quantity" value="<%= params['venice_quantity'] ? params['venice_quantity'] : '' %>"><br>

  <label>Price Paid Per Venice Book (Original Currency)</label>
  <input type="number" step="any" name="venice_price_paid_per_book_orig" value="<%= params['venice_price_paid_per_book_orig'] ? params['venice_price_paid_per_book_orig'] : '' %>"><br>

  <label>Number of Prague Books Sold</label>
  <input type="number" name="prague_quantity" value="<%= params['prague_quantity'] ? params['prague_quantity'] : '' %>"><br>

  <label>Price Paid Per Prague Book (Original Currency)</label>
  <input type="number" name="prague_price_paid_per_book_orig" value="<%= params['prague_price_paid_per_book_orig'] ? params['prague_price_paid_per_book_orig'] : '' %>"><br>

  <input type="submit" value="Save Order">

</form>
