<h2>Orders Page</h2>

<% @user_orders.each do |order_item|%>
  <div class="orderItem">
  Order ID: <%= order_item.order_id %><br>
  <!--  TODO how to format date to just date month/day/year? -->
  Order Record Created At: <%= order_item.created_at %><br>
  Book Sold: <%= order_item.book.title %><br>
  Quantity Sold: <%= order_item.quantity %><br>
  Price Paid: <%= order_item.price_paid_per_book_orig %><br>
  <% @order = order_item.order%>
  Is Reconciled? <%= @order.is_reconciled%><br><br><br>
</div>
<% end %>
