<h2>Orders Items Page</h2>
<% @user_orders.each do |order|%>
  <div class="orderItem">
  Order ID: <%= order.id %><br>
  <!--  TODO how to format date to just date month/day/year? -->
  Order Record Created On: <%= order.sold_date %><br>
  Customer: <%= order.customer.first_name %> <%= order.customer.last_name %><br>
  <% @order_items = order.order_items %>
  <% @order_items.each do |order_item| %>
    Book Sold: <%= order_item.book.title %><br>
    Quantity Sold: <%= order_item.quantity %><br>
    Currency: <%= order_item.currency_type %><br>
    Price Paid: <%= order_item.price_paid_per_book_orig %><br>
  <% end %>
  Is Reconciled? <%= order.is_reconciled%><br><br><br>
</div>
<% end %>
