<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
  <!--
    application.css is where you put your styles
  -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/application.css">

  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Droid+Serif|Raleway" rel="stylesheet">

  <%= css :application, :media => 'screen' %>
  <%= js :app %>

  <title>Rabbit Guides Orders</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/users/<%= session[:id] %>/orders/new">Rabbit Guides Orders</a>
        </div> <!-- end navbar-header -->

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if !current_user %>
              <li><a href="http://www.rabbitsguides.com">Rabbit Guides Website</a></li>
            <% end %>
            <% if current_user %>
              <li><a href="/users/<%= session[:id] %>/orders/new">New Order</a></li>
              <li><a href="/users/<%= session[:id] %>/orders">Your Orders</a></li>
              <li><a href="/orders">All Orders</a></li>
              <li><a>Reconcile Orders(future)</a></li>
              <!-- TODO - style this as an <a> tag with jquery -->
              <li><form action="/sessions" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="logout btn btn-link">Logout</button>
              </form></li>
            <% end %>
          </ul>
        </div><!-- end navbar -->
      </div><!-- end container -->
    </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/js/application.js"></script>
</body>
</html>
